
.head-photo-sec{


    width:100%;
    height: 40vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(https://its-poland.com/files/services_photos/5e30f48816fd13313cc0a8cd736d7d88.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.head-photo h1{
    color:#aeb5bf;
    font-size: 3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.head-photo h2{
    color:#aeb5bf;
}

.head-photo .btn{
    display: block;
    width: 200px;

    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    color: black;
    text-decoration: none;
    font-size: 1.5em;

    background-color: #2c89a0;
    opacity: 70%;

    border: 3px solid black;
    border-radius: 20px;
}

.head-photo .btn:hover{
    background-color: #aeb5bf;
}



.text-box {
    margin-right:0;
    top:0;

    /* box-sizing:border-box; */
    display:    grid;
    grid-template-columns: repeat(auto-fit,minmax(650px,1fr)); 
    width:100%;
    line-height:    26px;

    word-wrap: break-word;
    justify-content: center;
    align-items: center;
    text-align: justify;
    grid-gap: 0;
    

    
}


.tb2{

    padding-left: 40 px;
}



.side-img{
    width: 100%;
    height: auto;   
    top:0;
    padding:0;
    margin:0;
    opacity:80%
}

._text1{
    padding-right: 8%;
    padding-left: 8%;

}

._text2{
    padding-right: 8%;
    padding-left:8%;


}

 .boldd{
    font-weight: 600;
 }